*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 250);
    font-family:system-ui,sans-serif;
}
.card{
    background-color: white;
    border-radius: 16px;
   width: 100%;
   max-width: 360px;
   overflow: hidden;
}
.hero{
   width: 100%;
   display: block;
}
.content{
    padding: 2rem;
    text-align: center;
}
.content h1{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.content p{
    font-size: 0.90rem;
    color: rgb(154, 152, 152);
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.plan-info{
    
    display: flex;
    gap:1rem;
    align-items: center;
}
.plan-info h2{
    font-size: 0.9rem;
}
.plan-info span{
    font-size: 0.89rem;
    color: #6b7280;
}
.Plan a{
    font-size: 0.85rem;
    font-weight: 600;
    color: rgb(111, 111, 242);
     text-decoration: none;
    
   
}

.Plan{
    background-color: #f8f9fe;
    border-radius: 12px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    
}
.Plan a:hover{
    color: rgb(154, 230, 230);
   
}
.Payment-btn{
    background-color: rgb(89, 89, 237);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 75px 10px 75px;
    font-weight: bold;
    margin-bottom: 1rem;
    cursor:grab;
}
.Payment-btn:hover{
    opacity: 0.9;
}
.Order-btn{
    border-radius: 5px;
    border: none;
    padding: 10px 75px 10px 75px;
    font-weight: bold;
     background-color: white;
     color: #a0a5af;
}
.Order-btn:hover{
    color: black;
}